@model HealthCareManagementSystem.Models.Doctor

@{
    ViewData["Title"] = "Delete Doctor";
}

<div class="container mt-5">

    <div class="card shadow">

        <div class="card-header bg-danger text-white">
            <h3>Delete Doctor</h3>
        </div>

        <div class="card-body">

            <h5 class="text-danger">
                Are you sure you want to delete this doctor?
            </h5>

            <hr />

            <div class="row">

                <div class="col-md-3 text-center">

                    @if (!string.IsNullOrEmpty(Model.ImageName))
                    {
                        <img src="~/Images/Doctors/@Model.ImageName"
                             class="img-thumbnail"
                             width="150" />
                    }
                    else
                    {
                        <img src="~/Images/Doctors/default-doctor.png"
                             class="img-thumbnail"
                             width="150" />
                    }

                </div>

                <div class="col-md-9">

                    <dl class="row">

                        <dt class="col-sm-4">Name</dt>
                        <dd class="col-sm-8">@Model.Name</dd>

                        <dt class="col-sm-4">Specialization</dt>
                        <dd class="col-sm-8">@Model.Specialization</dd>

                        <dt class="col-sm-4">Clinic</dt>
                        <dd class="col-sm-8">@Model.Clinic.Name</dd>

                    </dl>

                </div>

            </div>

            <form asp-action="Delete"
                  asp-route-id="@Model.Id"
                  method="post">

                @Html.AntiForgeryToken()

                <a asp-action="Index"
                   class="btn btn-secondary">
                    Back
                </a>

                <button type="submit"
                        class="btn btn-danger">
                    Delete
                </button>

            </form>

        </div>

    </div>

</div>